<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>BBEditDocumentType</key>
    <string>CodelessLanguageModule</string>
    <key>BBLMLanguageCode</key>
    <string>SYML</string>
    <key>BBLMLanguageDisplayName</key>
    <string>Serverless</string>
    <key>BBLMSuffixMap</key>
    <array>
    <dict>
    <key>BBLMLanguageSuffix</key>
    <string>serverless.yml</string>
    </dict>
    </array>
    <key>BBLMFileNamesToMatch</key>
    <array>
      <string>serverless.yml</string>
    </array>
    <key>BBLMColorsSyntax</key>
    <true/>
    <key>BBLMSupportsTextCompletion</key>
    <true/>
    <key>BBLMIsCaseSensitive</key>
    <true/>
    <key>BBLMPredefinedNameList</key>
    <array>
      <string>-</string>
    </array>
    <key>BBLMCommentLineDefault</key>
    <string>#</string>
    <key>BBLMKeywordList</key>
    <array>
      <string>service:</string>
      <string>configValidationmode:</string>
      <string>useDotenv:</string>
      <string>variablesResolutionMode:</string>
      <string>plugins:</string>
      <string>frameworkVersion:</string>
      <string>custom:</string>
      <string>provider:</string>
      <string>name:</string>
      <string>region:</string>
      <string>stackName:</string>
      <string>runtime:</string>
      <string>lambdaHashingVersion:</string>
      <string>iam:</string>
      <string>role:</string>
      <string>managedPolicies:</string>
      <string>stackTags:</string>
      <string>service:</string>
      <string>individually:</string>
      <string>package:</string>
      <string>excludeDevDependencies:</string>
      <string>patterns:</string>
      <string>functions:</string>
      <string>handler:</string>
      <string>s3:</string>
      <string>timeout:</string>
      <string>environment:</string>
      <string>events:</string>
      <string>stream:</string>
      <string>type:</string>
      <string>arn:</string>
      <string>batchWindow:</string>
      <string>iamRoleStatements:</string>
      <string>Effect:</string>
      <string>Action:</string>
      <string>Resource:</string>
      <string>memorySize:</string>
      <string>bucket:</string>
      <string>existing:</string>
      <string>rules:</string>
      <string>prefix:</string>
      <string>resources:</string>
      <string>Resources:</string>
      <string>Type:</string>
      <string>Propeties:</string>
      <string>BucketName:</string>
      <string>EnableKeyRotation:</string>
      <string>KeyPolicy:</string>
      <string>Version:</string>
      <string>Statement:</string>
      <string>Principal:</string>
      <string>AWS:</string>
      <string>Condition:</string>
      <string>ForAnyValue:</string>
      <string>StringEquals:</string>
      <string>AliasName:</string>
      <string>TargetKeyId:</string>
      <string>AttributeDefinitions:</string>
      <string>AttributeName:</string>
      <string>AttributeType:</string>
      <string>BillingMode:</string>
      <string>GlobalSecondaryIndexes:</string>
      <string>IndexName:</string>
      <string>KeySchema:</string>
      <string>KeyType:</string>
      <string>Projection:</string>
      <string>ProjectionType:</string>
      <string>TableName:</string>
      <string>TimeToLiveSpecification:</string>
      <string>Enabled:</string>
      <string>StreamSpecification:</string>
      <string>SSESpecificaiton:</string>
      <string>SSEEnabled:</string>
      <string>StreamViewType:</string>
      <string>PointInTimeRecoverySpecification:</string>
      <string>PointInTimeRecoveryEnabled:</string>
      <string>runtime:</string>
      <string>apiKeys:</string>
      <string>iamManagedPolicies:</string>
      <string>lifecycleConfiguration:</string>
      <string>Rules:</string>
      <string>ExpirationInDays:</string>
      <string>Prefix:</string>
      <string>Status:</string>
      <string>layers:</string>
      <string>zip:</string>
      <string>path:</string>
      <string>exclude:</string>
      <string>include:</string>
      <string>schedule:</string>
      <string>rate:</string>
      <string>awsKmsKeyArn:</string>
      <string>input:</string>
      <string>event:</string>
      <string>private:</string>
      <string>method:</string>
      <string>request:</string>
      <string>parameters:</string>
      <string>paths:</string>
      <string>type:</string>
      <string>logGroup:</string>
      <string>query:</string>
      <string>db:</string>
      <string>CorsConfiguration:</string>
      <string>CorsRules:</string>
      <string>AllowedHeaders:</string>
      <string>AllowedMethods:</string>
      <string>AllowedOrigins:</string>
      <string>MaxAge:</string>
      <string>DependsOn:</string>
    </array>
    <key>Language Features</key>
    <dict>
      <key>Open Line Comments</key>
      <string>#</string>
      <key>Identifier and Keyword Character Class</key>
      <string>a-zA-Z0-9_:</string>
      <key>Open Strings 1</key>
      <string>"</string>
      <key>Close Strings 1</key>
      <string>"</string>
      <key>Open Strings 2</key>
      <string>'</string>
      <key>Close Strings 2</key>
      <string>'</string>
      <key>Escape Char in Strings 1</key>
      <string>\</string>
      <key>End-of-line Ends Strings 1</key>
      <true/>
    </dict>
  </dict>
</plist>